# START_CONFIT_GENERATED_CONTENT
# Common folders to ignore
node_modules/*
bower_components/*

# Config folder (optional - you might want to lint this...)
config/*


# Sample project
src/demo/*
# END_CONFIT_GENERATED_CONTENT
